:root {
  --black: #333333;
  --tint: #ff404c;
  --separator: rgba(0, 0, 0, 10%);
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

body * {
  box-sizing: border-box;
  font-family: "Avenir Next", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 30%);
  padding: 3rem;
}

header .content {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  max-width: 1000px;
  margin: 0px auto;
}

header h1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header h1 a {
  font-size: 1.5rem;
  color: var(--black);
  text-decoration: none;
  font-weight: 700;
}

header nav {
  display: flex;
  gap: 1rem;
}

header nav .link-button {
  font-size: 1rem;
  text-decoration: none;
  color: var(--black);
  font-weight: 500;
}

header nav .link-button.active {
  position: relative;
}

header nav .link-button.active::after {
  background-color: var(--tint);
  content: ".";
  color: transparent;
  display: block;
  width: 110%;
  height: 3px;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}

/* Hero */
#hero {
  width: 100%;
}

#hero img {
  width: 100%;
}

/* Bags Gallery */
#bags-gallery {
  padding: 3rem;
  width: 100%;
}

#bags-gallery .content {
  max-width: 1000px;
  margin: 0 auto;
}

#bags-gallery #filters {
  display: flex;
  gap: 2rem;
}

#bags-gallery #filters .filter {
  background-image: url("../assets/icon-chevronDown.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 0.5rem) center;
  width: 150px;
}

#bags-gallery #filters .filter select {
  appearance: none;
  border: 1px solid var(--separator);
  padding: 0.5rem 2rem 0.5rem 2.5rem;
  border-radius: 0.25rem;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: calc(0% + 0.5rem) center;
  background-size: 20px;
  background-image: url("../assets/icon-calendar.svg");
  width: 100%;
}
